*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --color-light-grey: hsl(0, 0%, 86%);
    --color-light-red:hsl(0, 100%, 67%);
    --color-off-black: hsl(0, 0%, 8%);
    --color-off-white: hsl(0, 0%, 94%);
    --color-purple: hsl(259, 100%, 65%);
    --color-smoke-grey: hsl(0, 1%, 44%);

}


body{
    background-color: var(--color-off-white);
    font-family: Poppins, sans-serif;
}

.principal{
    background-color: #fff;
    padding: 2rem;
    position: relative;
}
    
.entradas{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.inputs{
    display: flex;
    flex-direction: column;
}

.inputs label{
    color: var(--color-smoke-grey);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.inputs input{  
    border: 0.5px solid;
    border-color: var(--color-light-grey);
    border-radius: 5px;
    padding: 10px;
}

.inputs input::placeholder{
    color: var(--color-smoke-grey);
    letter-spacing: 2px;
    margin-left: 2px;
    font-weight: 700;
}

.linha-seta{
    align-items: center;
    display: flex;
    margin-bottom: 25px;
}

.linha{
    border-bottom: 2px solid var(--color-light-grey);
    width: 100%;
}

.icon-arrow{
    align-items: center;
    background-color: var(--color-purple);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
}

.icon-arrow:hover{
    background-color: var(--color-off-black);
}

/* ------------------------------------- */
.resultado{
    font-size: 64px;
    font-style: italic;
    font-weight: 800;
}
.resultado p span:first-child{
    color: var(--color-purple);
}

.campo-requerido{
    color: var(--color-light-red);
    font-style: italic;
    font-weight: 400;
}

/* --------------------------------------------------- */
.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 

}

/* MEDIA QUERIES **************************************************************************** */
@media screen and (min-width:0) {
    .principal{
        border-radius: 2% 2% 20% 2%;
        margin: 20% auto;
        width: 90%;   
    }

    .entradas{
        margin-bottom: 40px;
    }

    .inputs label{
        font-size: 14px;
    }
    .inputs input{  
        font-size: 20px;
        font-weight: 700;
        width: 80%;
    }
    
    .icon-arrow{
        height: 40px;
        right: 20px;
        width: 40px; 
    }

    .icon-arrow img{
        font-weight: 800;
        width: 50%;
    }
}

@media screen and (min-width:758px) {
    .principal{ 
        border-radius: 2% 2% 20% 2%;
        margin: 10% auto;
        width: 60%; 
    }

    .entradas{
        margin-bottom: 20px;
    }

    .inputs label{
        font-size: 16px;
    }

    .inputs input{  
        font-size: 32px;
        width: 60%;
    }

    .linha-seta{
        align-items: center;
        display: flex;
        margin-bottom: 25px;
    }
    
    .icon-arrow{
        height: 60px;
        right: 20px;
        width: 60px;
      
    }
}